html {
    background-color: #222;
}

body {
    margin: 0px;
}

.header {
    background-color: #111;
    display: flex;
    flex-wrap: nowrap;
    padding: 0px;
    margin: 0px;
}

#logo {
    width: 70px;
    margin: 0px 0px 0px 20px;
}

.ahead {
    margin-left: 35px;
    margin-right: 15px;
    font-size: 20px;
    font-family: 'Mukta', sans-serif;
    color: azure;
}

#link-inicio {
    text-decoration: none;
}

.content {
    width: 300px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    box-shadow: 0 10px 30px #000;
    border-radius: 12px;
    transition: ease 0.2s;
}

.content:hover {
    transform: scale(1.03);
}

.aside::-webkit-scrollbar {
    height: 8px;
}

.aside::-webkit-scrollbar-thumb {
    background-color: azure;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: azure;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

video {
    width: 70%;
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 40px;
    border-radius: 15px;
    box-shadow: 10px 15px 45px #000;
}

.aside {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 76px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

#title {
    margin-top: 8%;
    margin-left: 5%;
    font-size: 30px;
    font-family: 'Mukta';
    color: azure;
}

#about {
    color: darkgray;
    font-family: 'Mukta';
    margin-left: 5%;
}

.video {
    display: flex;
    flex-wrap: wrap;
}

.about {
    width: auto;
}

#rec {
    font-size: 22px;
    font-family: 'Mukta';
    color: azure;
    margin-left: 6%;
    margin-bottom: 0px;
}

footer {
    background-color: #111;
    margin: 0px;
    padding: 0px;
}

#footer {
    margin: 0px;
    font-family: 'Mukta', sans-serif;
    color: azure;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
}

@media screen and (max-width: 480px) {
    #logo {
        width: 55px;
        margin-top: 5px;
        margin-left: 15px;
    }

    .ahead {
        font-size: 18px;
        margin-top: 20px;
        margin-left: 18px;
    }
    
    #title {
        font-size: 20px;
        margin-left: 8%;
        margin-top: 0px;
    }

    #about {
        font-size: 14px;
        margin-left: 8%;
    }

    .content {
        width: 170px;
        margin-left: 10px;
        margin-right: 10px;
        box-shadow: 0 5px 20px #000;
        margin-bottom: 20px;
    }

    .aside {
        margin-left: 10px;
        margin-right: 20px;
    }

    #first {
        margin-left: 16px;
    }

    video {
        width: 90%;
        margin-left: 18px;
        margin-bottom: 25px;
        box-shadow: 8px 10px 30px 0px #000;
    }

    #rec {
        font-size: 18px;
        margin-left: 6%;
        margin-bottom: 0px;
        margin-top: 40px;
    }

    footer {
        background-color: #111;
        margin: 0px;
        padding: 0px;
    }

    #footer {
        margin: 0px;
        font-family: 'Mukta', sans-serif;
        color: azure;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 50px;
    }
}

@media screen and (min-width: 481px) {
    video {
        width: 90%;
    }
    .content {
        width: 250px;
        margin-right: 15px;
        margin-right: 10px;
    }

    #title {
        margin-left: 14%;
        margin-top: 0px;
    }

    #about {
        margin-left: 14%;
    }

    .aside {
        margin-left: 15px;
        margin-right: 40px;
    }

}

@media screen and (min-width: 1279px) {
    video {
        width: 70%;
        margin-right: 0px;
    }

    #title {
        margin-top: 30px;
        margin-left: 2;
    }

    #rec {
        margin-left: 50px;
    }

    .content {
        width: 262px;
    }
}

@media screen and (min-width: 1920px) {
    .content {
        width: 300px;
    }

    video {
        margin-left: 40px;
    }

    .aside {
        margin-left: 40px;
        margin-right: 55px;
    }

    #rec {
        margin-left: 80px;
    }

    .about {
        width: 400px;
    }


}
