html {
    background-color: #222;
}

body {
    margin: 0px;
}

.header {
    background-color: #111;
    display: flex;
    flex-wrap: nowrap;
    padding: 0px;
    margin: 0px;
}

#logo {
    width: 70px;
    margin: 0px 0px 0px 20px;
}

.content {
    margin-left: 5%;
    margin-right: 0px;
    margin-top: 25px;
    width: 90%;
    height: 90%;
    box-shadow: 0 10px 30px #000;
    border-radius: 12px;
}

.content2 {
    width: 320px;
    margin-left: 20px;
    margin-right: 15px;
    transition: ease 0.2s;
    box-shadow: 0 10px 20px #000;
    border-radius: 8px;
    margin-bottom: 25px;
    margin-top: 0px;
}

.content3 {
    width: 320px;
    margin-left: 35px;
    transition: ease 0.2s;
    box-shadow: 0 10px 20px #000;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.subtitles {
    font-size: 22px;
    font-family: 'Mukta', sans-serif;
    color: azure;
    margin-left: 260px;
    margin-bottom: 10px;
}

#subtitle {
    margin-top: 18px;
    margin-bottom: 0px;
}

.box {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 12%;
    margin-bottom: 40px;
    margin-top: 0px;
    overflow: auto;
    margin-right: 10%;
}

.content2:hover {
    transform: scale(1.03);
}

.content3:hover {
    transform: scale(1.03);
}

.ahead {
    margin-left: 35px;
    margin-right: 15px;
    font-size: 20px;
    font-family: 'Mukta', sans-serif;
    color: azure;
}

.box2 {
    margin-top: 0px;
    margin-left: 130px;
    margin-right: 130px;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

#subtitle2 {
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 175px;
}

.box2::-webkit-scrollbar {
    height: 8px;
}

.box2::-webkit-scrollbar-thumb {
    background-color: azure;
    border-radius: 5px;
}

.box::-webkit-scrollbar {
    height: 8px;
}

.box::-webkit-scrollbar-thumb {
    background-color: azure;
    border-radius: 5px;
}

#first {
    margin-left: 18px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: azure;
    border-radius: 5px;
}

#last {
    margin-right: 18px
}    
    
#link-inicio {
    text-decoration: none;
}

footer {
    background-color: #111;
    margin: 0px;
    padding: 0px;
}

#footer {
    margin: 0px;
    font-family: 'Mukta', sans-serif;
    color: azure;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
}

@media screen and ( max-width: 480px) {
    #logo {
        width: 60px;
        margin-top: 5px;
        margin-left: 15px;
    }

    .ahead {
        font-size: 18px;
        margin-top: 20px;
        margin-left: 18px;
    }

    .content {
        box-shadow: 0 5px 12px #000;
    }
    
    .content2 {
        width: 175px;
        margin-left: 0px;
        margin-right: 10px;
        margin-bottom: 20px;
        margin-top: 6px;
        box-shadow: 0 5px 12px #000;
    }

    .box {
        margin-left: 10px;
        margin-right: 18px;
    }

    .content3 {
        width: 175px;
        margin-left: 0px;
        margin-right: 12px;
        margin-bottom: 20px;
        margin-top: 6px;
        box-shadow: 0 5px 12px #000;
    }

    .box2 {
        margin-left: 10px;
        margin-right: 15px;
    }

    #subtitle {
        margin-left: 28px;
        font-size: 15px;
        padding-bottom: 0px;
    }

    #subtitle2 {
        margin-left: 28px;
        font-size: 15px;
        padding-bottom: 0px;
    }

    #first2 {
        margin-left: 18px;
    }
}

@media screen and ( min-width: 481px) {
    #subtitle, #subtitle2 {
        margin-left: 30px;
        font-size: 18px;
    }

    .content2 {
        width: 200px;
        margin-left: 10px;
        margin-top: 8px;
    }

    .content3 {
        width: 200px;
        margin-left: 20px;
        margin-right: 5px;
    }

    .box {
        margin-left: 10px;
        margin-right: 15px;
    }

    .box2 {
        margin-left: 10px;
        margin-right: 15px;
    }
}

@media screen and ( min-width: 769px) {
    .content2 {
        width: 250px;
    }

    .content3 {
        width: 250px;
    }

    #subtitle, #subtitle2 {
        font-size: 20px;
        margin-left: 40px;
    }

    .box {
        margin-left: 20px;
        margin-right: 40px;
    }

    .box2 {
        margin-left: 20px;
        margin-right: 40px;
    }
}

@media screen and ( min-width: 1280px) {
    .content2 {
        width: 300px;
        margin-right: 26px;
    }

    .content3 {
        width: 300px;
        margin-right: 20px;
    }

    .box {
        margin-left: 120px;
        margin-right: 140px;
    }

    .box2 {
        margin-left: 50px;
        margin-right: 75px;
    }

    #subtitle {
        margin-left: 140px;
    }

    #subtitle2 {
        margin-left: 70px;
    }
}

@media screen and ( min-width: 1663px) {
    .box {
        justify-content: center;
    }

    .box2 {
        margin-left: 4%;
        margin-right: 4%;
    }
    
    #subtitle {
        margin-left: 165px;
    }

    #subtitle2 {
        margin-left: 85px;
    }
}

@media screen and ( min-width: 1664px) {
    #subtitle {
        margin-left: 13.2%;
    }

    #subtitle2 {
        margin-left: 5%;
    }

    .box {
        margin-bottom: 5px;
    }

    .content2 {
        width: 320px;
    }

    .content3 {
        width: 320px;
    }
}